In [138]:
import warnings 
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [171]:
# https://www.kaggle.com/datasets/putdejudomthai/ecommerce-ab-testing-2022-dataset1

### На сайте Kaggle доступно 2 файла:
    - ab_data.csv, основные данные, 294480 строк
    - countries.csv второстепенные данные с местоположением пользователей, 290586 строк
##### Разница 3894 строк

In [3]:
!ls

ab_data.csv.zip  countries.csv.zip  Untitled.ipynb

In [6]:
!unzip ab_data.csv.zip
!unzip countries.csv.zip

Archive:  ab_data.csv.zip
  inflating: ab_data.csv
Archive:  countries.csv.zip
  inflating: countries.csv

In [7]:
!ls

ab_data.csv  ab_data.csv.zip  countries.csv  countries.csv.zip	Untitled.ipynb

In [18]:
ab_data = pd.read_csv('ab_data.csv')
countries = pd.read_csv('countries.csv')

In [19]:
ab_data.head()

   user_id timestamp      group landing_page  converted
0   851104   11:48.6    control     old_page          0
1   804228   01:45.2    control     old_page          0
2   661590   55:06.2  treatment     new_page          0
3   853541   28:03.1  treatment     new_page          0
4   864975   52:26.2    control     old_page          1

In [20]:
countries.head()

   user_id country
0   834778      UK
1   928468      US
2   822059      UK
3   711597      UK
4   710616      UK

In [21]:
ab_data.shape, countries.shape

((294480, 5), (290586, 2))

In [145]:
df = ab_data.merge(right=countries, how='left', on='user_id')

## Объединив таблицы, я ожидал увидель Null в столбце 'country', но их не оказалось. Тогда я решил посмотреть на количество пользователей, у которых количество просмотров больше одного. Их количество оказалось равным разнице количества строк из таблицы ab_data и countries.

In [31]:
df.isna().sum()

user_id         0
timestamp       0
group           0
landing_page    0
converted       0
country         0
dtype: int64

In [45]:
ab_data['user_id'].unique().size, df['user_id'].unique().size

(290585, 290585)

In [52]:
df.groupby('user_id').count()['timestamp'] \
    .sort_values(ascending=False)[:10]

user_id
759899    4
771082    2
679326    2
875210    2
870418    2
714496    2
931907    2
825266    2
706601    2
729669    2
Name: timestamp, dtype: int64

In [54]:
df.groupby('user_id').count()['timestamp'].value_counts()

1    286690
2      3894
4         1
Name: timestamp, dtype: int64

In [55]:
df.head()

   user_id timestamp      group landing_page  converted country
0   851104   11:48.6    control     old_page          0      US
1   804228   01:45.2    control     old_page          0      US
2   661590   55:06.2  treatment     new_page          0      US
3   853541   28:03.1  treatment     new_page          0      US
4   864975   52:26.2    control     old_page          1      US

In [65]:
df[df['group'] == 'control']['landing_page'].value_counts(), \
df[df['group'] == 'treatment']['landing_page'].value_counts()

(old_page    145274
 new_page      1928
 Name: landing_page, dtype: int64,
 new_page    145315
 old_page      1965
 Name: landing_page, dtype: int64)

In [68]:
1928 + 1965

3893

In [88]:
count_views = df.groupby('user_id').count()['timestamp']
user_id_more_1_views = count_views[count_views > 1].index

In [89]:
user_id_more_1_views.size

3895

In [92]:
df[(df['group'] == 'control') & (~df['user_id'].isin(user_id_more_1_views))]['landing_page'].value_counts()

old_page    143293
Name: landing_page, dtype: int64

In [93]:
df[(df['group'] == 'treatment') & (~df['user_id'].isin(user_id_more_1_views))]['landing_page'].value_counts()

new_page    143397
Name: landing_page, dtype: int64

In [94]:
df[(df['group'] == 'control') & (df['user_id'].isin(user_id_more_1_views))]['landing_page'].value_counts()

old_page    1981
new_page    1928
Name: landing_page, dtype: int64

In [95]:
df[(df['group'] == 'treatment') & (df['user_id'].isin(user_id_more_1_views))]['landing_page'].value_counts()

old_page    1965
new_page    1918
Name: landing_page, dtype: int64

In [99]:
1965 + 1918, 1981 + 1928, 3883 + 3909

(3883, 3909, 7792)

In [98]:
count_views[count_views > 1].sum()

7792

## Таких пользователей нужно удалить из выборки потому, что они могут повлиять на p-value, увеличивая его.

In [100]:
# df with user_id view == 1
df = df[~df['user_id'].isin(user_id_more_1_views)]

In [101]:
df.shape

(286690, 6)

In [103]:
df[(df['group'] == 'control')]['landing_page'].value_counts(), \
df[(df['group'] == 'treatment')]['landing_page'].value_counts()

(old_page    143293
 Name: landing_page, dtype: int64,
 new_page    143397
 Name: landing_page, dtype: int64)

In [104]:
df.groupby('user_id').count()['timestamp'] \
    .sort_values(ascending=False)[:10]

user_id
630000    1
840746    1
840752    1
840751    1
840750    1
840749    1
840748    1
840747    1
840745    1
840733    1
Name: timestamp, dtype: int64

In [105]:
df.head()

   user_id timestamp      group landing_page  converted country
0   851104   11:48.6    control     old_page          0      US
1   804228   01:45.2    control     old_page          0      US
2   661590   55:06.2  treatment     new_page          0      US
3   853541   28:03.1  treatment     new_page          0      US
4   864975   52:26.2    control     old_page          1      US

In [106]:
df.groupby('landing_page').mean()['converted']

landing_page
new_page    0.118726
old_page    0.120173
Name: converted, dtype: float64

In [107]:
df.groupby('landing_page').count()['converted']

landing_page
new_page    143397
old_page    143293
Name: converted, dtype: int64

## Подсчет p-value с помощью proportions_ztest

In [172]:
from statsmodels.stats.proportion import proportions_ztest

In [180]:
a = df[df['landing_page'] == 'old_page']['converted']
b = df[df['landing_page'] == 'new_page']['converted']
zstat, pval = proportions_ztest([a.sum(), b.sum()], [a.size, b.size], alternative='larger')
zstat, pval

(1.3710504103206262, 0.08517962103794091)

## Подсчет zstat и p-value вручную

In [181]:
m1 = a.mean()
m2 = b.mean()
m = np.concatenate((a.values, b.values)).mean()
n1 = a.size
n2 = b.size

In [182]:
m1, m2, m, n1, n2

(0.12047759085568362, 0.11883756783004965, 0.11965756820450825, 147239, 147243)

In [197]:
zstat = (m1-m2) / np.sqrt( m*(1-m) * (1/n1 + 1/n2) )
zstat

1.3710504103206262

In [198]:
import scipy.stats as sts

In [199]:
pval = 1 - sts.norm(0, 1).cdf(zstat)
pval

0.08517962103794097